<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item_list
                    li.main-header__item
                        a.acive(href="/") shop
                        a(href="/add-product") Add Product

    main
        .grid
            each product in prods
                article.card.product-item
                    header.card__reader
                        h1.product__title #{product.title}
                    .card__image
                        img(src="https://www.wired.com/story/favorite-books-q4-2018/", alt="A Book")
                    .card__content
                        h2.product__price $19.99
                        p.product__description A very interesting book
                    .card__actions
                        button.btn Add to Cart
